// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_area {
  margin: 30px 50px;
}
.form_area {
  margin: 0 50px 10px;
}
.show_area {
  margin: 30px 50px;
}
.link_area {
  margin-left: 50px;
}
.title {
  margin-bottom: 10px;
  margin-left: 50px; 
}
.name {
  width: 70px;
}
.rent {
  width: 80px;
}
.address {
  width: 120px;
}
.age {
  width: 40px;
}
.text_area {
  width: 800px;
}